*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html {
  margin: 0px;
}

body {
  margin: 0px;
  text-align: center;
}

header {
  background-color: #404041;
  padding: 10px;
  margin-bottom: 30px;
}

p {
  font-size: 30px;
  font-weight: 300;
  margin: 0px;
}

h1,
.display-guess {
  color: #ED458B;
}

h1{
  font-size: 45px;
  margin: 0px;
}

h2 {
  font-size: 70px;
  font-weight: 300;
  margin: 0px auto;
  width: 400px;
}

h3 {
  display: inline-block;
  font-weight: 300;
  margin: 0px;
}

input {
  font-size: 20px;
  height: 30px;
  margin-bottom: 40px;
  text-align: center;
  -webkit-writing-mode: none;
  width: 370px;
}




.board {
  height: 27px;
  display: inline-block;
  margin-bottom: 30px;
  width: 180px;
}

.player-1,
.player-2 {
  margin-right: 5px;
}

.btns {
  background-color: #D0D2D3;
  border: none;
  border-radius: 50px;
  color: #FFFFFF;
  font-size: 18px;
  height: 30px;
  padding-bottom: 10px;
  width: 180px;
}

.guesser {
  color:#FFFFFF;
  font-weight: 300;
}

.guess-btn {
  margin-right: 10px;
}

.reset-btn {
  margin-bottom: 40px;
  width: 380px;
}

.topbox,
.bottombox {
  align-content: center;
  min-height: 60px;
  padding-top: 10px;
}

.topbox {
  margin-top: 40px;
}

.displaybox {
  min-height: 100px;
}


.bottombox {
  margin-bottom: 40px;
}

.minmax {
  margin-bottom: 0px;
  width: 70px;
}

.btns:hover {
  background-color: #404041;
  color:  #ED458B;
  font-weight: 700;
}

.btns:disabled {
  color: #404041;
  background-color: #999999;
  font-weight: 300;
}

.active {
  background-color: #ED458B;
  color: #FFFFFF;
}

@media screen and (max-width: 480px) {

  h1 {
    font-size: 35px;
  }

  h3 {
    font-size: 15px;
  }

  input {
    margin-bottom: 20px;
  }

  .btns {
    display: block;
    margin: 0px auto 20px;
    width: 90%;
  }

  .guess-btn,
  .reset-btn, {
    margin-bottom: 10px;
  }

  .display-guess {
    width: 200px;
  }

  .user-guess {
    width: 90%
  }

  .top-box {
    margin-top: 20px;
  }

  #player-one,
  #player-two {
    width: 140px;
  }
}
